In [1]:
import numpy as np
import pandas as pd

In [2]:
%%time 
df = pd.read_csv('../../data/assessors.csv', sep='\t', 
                 names='ip, query, prior, sort_by, pos, asses'.split(', '))

CPU times: user 4.16 ms, sys: 1.81 ms, total: 5.97 ms
Wall time: 4.96 ms

In [3]:
df.head()

              ip            query prior sort_by  pos  asses
0  188.242.138.9  machin learning  deap  scores    0      5
1  188.242.138.9  machin learning  deap  scores    1      4
2  188.242.138.9  machin learning  deap  scores    2      5
3  188.242.138.9  machin learning  deap  scores    3      5
4  188.242.138.9  machin learning  deap  scores    4      5

In [4]:
df.dtypes

ip         object
query      object
prior      object
sort_by    object
pos         int64
asses       int64
dtype: object

In [5]:
ground_truth = dict(np.round(df.groupby(['query', 'prior', 'pos'])['asses'].mean()).iteritems())
for k in ground_truth:
    ground_truth[k] = 5

In [7]:
def dcg(R, k):
    return np.sum((2 ** (R - 1) - 1) / np.log(k + 2))

In [8]:
R, k = df.asses.as_matrix(), df.pos.as_matrix()
DCG = dcg(R, k)
best_scores = np.array([ground_truth[(r.query, r.prior, r.pos)] for _, r in df.iterrows()])
DCG_ideal = dcg(best_scores, k)
NDCG = DCG / DCG_ideal

In [9]:
NDCG

0.66578969059503978